<div class="structure"> 
  <mat-card class="list-csv">
    <div class="scrollable">
      <mat-card-title class="title">List of CSV: </mat-card-title>
      <mat-card-content class="info">
            <div class="file" *ngFor="let file of fileInfo">
              <mat-checkbox class="checkbox" [(ngModel)]="file.checked" (change)="onChangeFile()" color="primary">
                {{file.countryName}}
              </mat-checkbox>
            </div>

            <div class="file" *ngFor="let file of countryName">
              {{file}}
            </div>

      </mat-card-content>
    </div>
    <mat-card-footer class="bar">
      <mat-progress-bar mode="indeterminate" color="primary" *ngIf="showBar"></mat-progress-bar>
    </mat-card-footer>
  </mat-card> 
  
  <div class="graphs">
    <div class="framerate1">
      <mat-card class="average-framerate">
        <mat-card-title>Average framerate 1: </mat-card-title>
        <mat-card-content>
          <div class="value" >{{framerate1}}</div>
        </mat-card-content>
      </mat-card> 
  
      <mat-card class="graph">
        <mat-card-title>Graph 1: {{fileName1}} </mat-card-title>
        <mat-card-content>
          <div id="chart">
            <canvas id="myChart1"></canvas>
          </div>
        </mat-card-content>
      </mat-card> 
    </div>
  
    <div class="framerate2">
      <mat-card class="average-framerate">
        <mat-card-title>Average framerate 2: </mat-card-title>
        <mat-card-content>
          <div class="value" >{{framerate2}}</div>
        </mat-card-content>
      </mat-card> 
  
      <mat-card class="graph">
        <mat-card-title>Graph 2: {{fileName2}}</mat-card-title>
        <mat-card-content>
          <div id="chart">
            <canvas id="myChart2"></canvas>
          </div>
        </mat-card-content>
      </mat-card> 
    </div>
  </div>
  </div>