<div class="structure"> 
  <mat-card class="list-csv">
    <div class="scrollable">
      <div class="info">
            <div class="file" *ngFor="let file of fileInfo">
              <mat-checkbox class="checkbox" [matMenuTriggerFor]="files" [(ngModel)]="file.checked" (change)="onSelectFile()" color="primary">
                {{file.fileName}}
              </mat-checkbox>
              <mat-menu #files="matMenu">
                <div class = "file" *ngFor="let countryData of simplifiedCountryData">
                  <mat-checkbox class="checkbox" [(ngModel)]="countryData.checked" (change)="onChangeFile(countryData)" color="primary">
                    {{countryData.country}}
                  </mat-checkbox>
                </div>
              </mat-menu>

            </div>

          </div>
    </div>
    <mat-card-footer class="bar">
      <mat-progress-bar mode="indeterminate" color="primary" *ngIf="showBar"></mat-progress-bar>
    </mat-card-footer>
  </mat-card> 

  
  <div class="graphs">
    <mat-card class="graph">
      <mat-card-title>{{countryName}} </mat-card-title>
      <mat-card-content>
        <div id="chart">
          <canvas id="myChart1"></canvas>
        </div>
      </mat-card-content>
    </mat-card> 
  </div>
</div>